.ar-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
ion-content {
  --background: #000;
}
.permission-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}
